# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# User-specific files
*.xcuserstate
*.xcuserdatad
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/

# Archives
*.xcarchive

# macOS
.DS_Store
